.App {
  text-align: center;
}

.wrap {
  /* border: black solid 1px; */
  width: 150px;
  height: 60px;
  margin: 0 auto;
  margin-top: 30px;
  background-image: linear-gradient(45deg, pink, purple);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}
